[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
path = "==16.7.1"
rich = "==13.5.2"
pyreadline3 = "==3.4.1"
pickleshare = "==0.7.5"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.4"
